<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stil Durağı - Hakkımızda</title>
  <link rel="stylesheet" href="/tasarim/hakimizda.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

    <header>

        <ul class="tab-bar">
          <li ><a class="active" href="/">Anasayfa
            <i class="fas fa-home"></i>
          </a></li>
          <li><a href="/sepetim">sepetim
            <i class="fas fa-shopping-cart" style="margin-right: 5px;"></i>
          </a>
           
          </li>
          <li><a href="/iletisim">iletişim
            <i class="fas fa-phone-square-alt"></i>
          </a></li>
          <li><a href="/hakimizda">Hakkımızda
            <i class="fas fa-user"></i>
          </a></li>
        </ul>
    
        <div style="display: flex; align-items: center; justify-content: center; ">
          <img src="/images/logo.jpeg " style="width: 55px; height: 60px; border-radius: 70px; margin-right: 10px;" alt="Firdevs Giyim">
        <h1 id="sayfaBasligi">Stil Durağı</h1>
        </div>
    
       
      </header>

      <main>
        <section id="about">
          <h2>Hakkımızda</h2>
          <p class="about-text">Stil Durağı olarak, modaya olan tutkumuzu ve giyimde kaliteyi sizlerle buluşturmak için buradayız. Yılların tecrübesi ve modanın her an değişen dinamiklerine olan ilgimizle, siz değerli müşterilerimize en yeni trendleri, şıklığı ve konforu sunmayı hedefliyoruz.</p>
          <p class="about-text">Vizyonumuz, modayı herkes için erişilebilir kılmak ve müşterilerimizin kendilerini en iyi şekilde ifade etmelerine yardımcı olmaktır. Misyonumuz ise en yüksek kalite standartlarını koruyarak, her sezon en güncel ve trend ürünleri sunmak, müşteri memnuniyetini her şeyin üzerinde tutmak ve alışveriş deneyimini keyifli hale getirmektir.</p>
          <p class="about-text">Stil Durağı olarak, her tarza ve ihtiyaca uygun, sürekli yenilenen koleksiyonlarımızla modanın nabzını tutuyoruz. Kaliteyi uygun fiyatlarla sunarak, modaya herkesin ulaşmasını sağlıyoruz.</p>
          <p class="about-text">Bizimle iletişime geçmek ve daha fazla bilgi almak için <a href="iletisim" class="contact-link">buraya</a> tıklayın.</p>
        </section>
      </main>

<footer>
  <p>&copy; 2024 Stil Durağı. Tüm hakları saklıdır.</p>
</footer>

</body>
</html>
